  .button-1 {
    background-color: #52a4a7;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fbcbc9;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    list-style: none;
    outline: none;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    display:block;
    min-width:100%;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #be1558;
  }

  .gameCode {
    background-color: #52a4a7;
    border-radius: 8px;
    text-align: center;
    font-size: 70px;
    padding: 20px 50px;
    color: #be1558;
    outline-style: solid;
    outline-color: #be1558;
    outline-width: 4px;
  }

  .userTable {
    width: 100%;
    background-color: #52a4a7;
    text-align: center;
    font-size: 30px;
    color: #be1558;
    border-radius: 8px;
    /* padding: 80px; */
    border-spacing: 10px;
    border-collapse: separate;
  }


 
  .button-start {
    background-color: #731b2a;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fbcbc9;
    cursor: pointer;
    /* display: inline-block; */
    font-size: 30px;
    font-weight: 500;
    /* height: 40px; */
    /* line-height: 20px; */
    list-style: none;
    /* margin: 0; */
    outline: none;
    padding: 10px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    /* vertical-align: baseline; */
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    display:block;
    min-width:100%;
  }
  
  .button-start:hover,
  .button-start:focus {
    background-color: #be1558;
  }
 
.title{
    font-size: 80px;
    text-align: center;
    color: #731b2a;
    top: 40px;
}
